.book-details-container {
  width: 100%;
  margin: 20px 0;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;

    h3 {
      text-align: center;
    }

  .book-details {
    @extend .book-details-container;
  }

  .details-top {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;

    .details-top-right {
      margin-left: 15px;

    }


    .book-author {
      margin-top: 5px;
    }
  }

  .details-bottom {
    margin-top: 35px;
    .book-title, .book-subtitle, .book-categories {
      text-align: center;
    }
  }
  
 
}