footer {
  width: 100vw;
  height: 35px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-shrink: 0;
  border-top-left-radius: 30%;
  border-top-right-radius: 30%;
  background-color: rgb(175, 175, 175);
}