.formContainer {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  .formGroup {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .formLabel {
      margin-left: 2px;
    }

    .inputText { 
      border: 1px solid rgb(75, 75, 75);
      border-radius: 10px;
    }
  }

  .loginError {
    margin: 10px 0;
    font-size: 1em;
  }
}
