.login-form {
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 1 0 auto;


  .formGroup {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .formLabel {
      margin-left: 2px;
    }

    .inputText { 
      border: 1px solid rgb(75, 75, 75);
      border-radius: 10px;
    }
  }

  .loginError {
    margin: 10px 0;
    font-size: 1em;
  }

  span {
    
    button {
      margin: 0 10px;
    }
  }
}
