@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import "~bootstrap/scss/bootstrap";

// Variables
$font-family: 'Montserrat', sans-serif;

// Component Imports
@import './Components/Login/Login';
@import './Components/Header/Header';


.App {
  height: 100vh;
  margin: 0 auto;
}

h1, h2, h3, h4, h5 {
  font-family: $font-family;
}

